<div class="modal-register mfp-hide" id="modal-forgot-password">
    <div class="card mx-auto" style="max-width: 540px;">
      <div class="card-header py-3 bg-transparent text-center">
        <h3 class="mb-0 fw-normal">Reset Your Password</h3>
      </div>
      <div class="card-body mx-auto py-5" style="max-width: 70%;">
        <form id="forgot-password-form" class="mb-0 row">
          <div class="col-12">
            <input type="email" id="forgot-password-email" name="email" class="form-control not-dark" placeholder="Enter your email">
          </div>
          <div class="col-12 mt-4">
            <button class="button w-100 m-0" id="forgot-password-submit">Reset Password</button>
          </div>
        </form>
      </div>
      <div class="card-footer py-4 text-center">
        <p class="mb-0"><a href="#" id="back-to-login"><u>Back to Login</u></a></p>
      </div>
    </div>
</div>