<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<%- include('./element/head.ejs') %>

<body class="stretched">


  <!-- Document Wrapper=============================================-->
  <div id="wrapper">



    <!-- Header
		============================================= -->
    <%-include('./element/navbar.ejs') %>

    <!-- Slider
		============================================= -->
    <%- body %>
    <!-- Footer
		============================================= -->
    <%- include('./element/footer.ejs') %>

  </div><!-- #wrapper end -->

  <!-- Go To Top
	============================================= -->
  <div id="gotoTop" class="uil uil-angle-up"></div>

  <!-- JavaScripts
	============================================= -->
  <script src="/frontend/dist/js/plugins.min.js"></script>
  <script src="/frontend/dist/js/functions.bundle.js"></script>

</body>

</html>